/* footer container style */
.footer {
  background-color: #020016;
  min-height: 30vh;
  padding-left: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.footer h2 {
  font-weight: 700;
  font-size: 22px;
  color: #fc5c65;
  text-align: center;
}

.footer a {
  text-decoration: none;
  color: white;
}
.footer ul {
  margin-right: 25px;
}
.footer ul li {
  list-style: none;
  margin: 10px 0;
  font-weight: 600;
  color: white;
}
.footer p {
  margin: 10px 0;
  font-weight: 600;
  color: white;
}
.copyright {
  background-color: #0e0c21;
  text-align: center;
  padding: 5px;
}
.copyright p {
  color: white;
}
.copyright a {
  text-decoration: none;
  color: white;
}
