.about__us__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.about__us__item img {
  width: 70px;
  margin-right: 20px;
}
.about__us__item h4 {
  font-weight: 600;
}
@media (max-width: 480px) {
  .about__us__item {
    margin-top: 25px;
  }
}
